@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
h1 {
  font-family: "Anton", sans-serif;
}
.header_pro {
  background-color: rebeccapurple;
  height: 30vh;
  color: white;
}

.section_pro {
  background-color: red;
}

.cscs {
  height: calc(100%);
}
.spinner_clos {
  margin-top: calc(100vh/3);
  width: 7rem;
  height: 7rem;
  font-size: 62px;
  color: green;
}