<div class="container-fluid">
  <div *ngIf="fetch; else templateName">
    <div class="d-flex justify-content-center">
      <div class="spinner-border spinner_clos" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <ng-template #templateName>
    <header
      class="row header_pro d-flex flex-row justify-content-center align-items-center"
    >
      <h1 class="text-center">Todas las imagenes de la raza seleccionada</h1>
    </header>
    <section class="row  section_pro">
      <div
        style="margin-top: 1rem"
        class="card col-3"
        *ngFor="let image of breedImage; let i = index"
      >
        <div class="card-body">
          <p class="card-text">Raza: {{ name }}</p>
        </div>
        <img class="cscs" src="{{ image }}" alt="Card cscs" />
      </div>
    </section>
  </ng-template>
</div>
