<div class="container-fluid">
  <div *ngIf="fetch; else templateName">
    <div class="d-flex justify-content-center">
      <div class="spinner-border spinner_clos" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <ng-template #templateName>
    <div>
      <h1>Listado de razas</h1>
      <h4>selecciona una para ver imagenes de ella ..</h4>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col">Número</th>
              <th scope="col">Name</th>
              <th scope="col">Click</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let breedName of breeds; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td class="w-25">{{ breedName }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-info"
                  [routerLink]="['/getTest', breedName]"
                >
                  Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</div>
