.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }
}

.spinner_clos {
  margin-top: calc(100vh/3);
  width: 7rem;
  height: 7rem;
  font-size: 62px;
  color: green;
}
